<ng-container *ngIf="intrinsic">
  <ng-container *ngFor="let instruction of [instructions.getInstructionForIntrinsic(intrinsic.name)]">
    <section *ngIf="instruction" class="container">
      <h3>{{ intrinsic.name }}</h3>

      <markdown [data]="instruction.description"></markdown>

      <p *ngIf="instruction.simde">
        View <a [href]="instruction.simde">implementation <i class="fas fa-external-link-alt"></i></a> in SIMDe.
      </p>

      <section>
        <h4>Prototype</h4>

        <p>
          <code>
            <em class="item-name fw-bold">
              {{ intrinsic.return }}
              {{ intrinsic.name }}
              (<ol class="function-parameters comma-separated">
                <li *ngFor="let param of intrinsic.params">
                  {{ param.type }} {{ param.name }}
                </li>
              </ol>);
            </em>
          </code>
        </p>
      </section>

      <section>
        <h4>Instruction</h4>

        <p>
          <code>
            <em class="item-name fw-bold">
              {{ instruction.name }}
              (<ol class="function-parameters comma-separated">
                <li *ngFor="let param of instruction.params">
                  {{ param.name }}: {{ param.type }}
                </li>
              </ol>)
              ->
              {{ instruction.return }}
            </em>
          </code>
        </p>
      </section>

      <section>
        <h4>WAV Functions</h4>

        <p *ngIf="instruction.wav!.length > 1">
          These functions implement the same instruction in WAV
          as this intrinsic, but unlike intrinsics there are
          often multiple functions in WAV which correspond to a
          single instruction.
        </p>

        <ul>
          <ng-container *ngFor="let fn of instruction.wav">
            <li *ngFor="let alias of fn.alias">
              <code class="function-prototype">
                <span class="function-return-type">{{ fn.return }}</span>&nbsp;
                <em class="function-name fw-bold">{{ alias }}</em>
                (<ol class="function-parameters comma-separated">
                  <li *ngFor="let param of fn.params" class="function-parameter">
                    <span class="function-parameter-type">{{ param.type }}</span>&nbsp;<span class="function-parameter-name">{{ param.name }}</span>
                  </li>
                </ol>);
              </code>
            </li>

            <li>
              <code class="function-prototype">
                <span class="function-return-type">{{ fn.return }}</span>&nbsp;
                <em class="function-name fw-bold">{{ fn.name }}</em>
                (<ol class="function-parameters comma-separated">
                  <li *ngFor="let param of fn.params" class="function-parameter">
                    <span class="function-parameter-type">{{ param.type }}</span>&nbsp;<span class="function-parameter-name">{{ param.name }}</span>
                  </li>
                </ol>);
              </code>
            </li>
          </ng-container>
        </ul>
      </section>

      <lowering [instruction]="instruction"></lowering>
    </section>
  </ng-container>
</ng-container>
