<div class="container">
  <div class="alert alert-info m-2" role="alert">
    <h5><i class="fas fa-exclamation-triangle"></i> Work in progress; please don't share the link publicly yet.</h5>
    <hr />
    <p>
      I'm trying to develop this in the open, but it's not yet ready for
      public consumption, so <em>please</em> don't share the link publicly
      yet.  Sending it in private to to a few people who you think might
      be interested is cool, just don't post it on Reddit, HN, Twitter, etc.
      I think it should be ready within a couple weeks, so you
      shouldn't have to wait long.
    <p>
      Meanwhile, please use
      <a href="https://github.com/nemequ/waspr/issues">the issue
      tracker</a> if you notice anything wrong (as opposed to just
      obviously not implemented yet).
    </p>
  </div>
</div>

<div class="row">
  <header class="col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <div class="navbar-nav me-auto"></div>

          <ul class="navbar-nav ms-md-auto">
            <li class="nav-item">
              <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/nemequ/waspr/"><i class="fab fa-github"></i> GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>

<ul class="nav nav-tabs mt-2">
  <li class="nav-item">
    <span class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Choose Your Poison:</span>
  </li>
  <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/instructions">Instructions</a></li>
  <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/intrinsics">Intrinsics</a></li>
  <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/wav">WAV Functions</a></li>
</ul>

<router-outlet></router-outlet>
