ol.comma-separated {
  display: inline;
  list-style-type: none;
  padding: 0;
}

ol.comma-separated > li {
  display: inline;
}

ol.comma-separated > li::after {
  content: ", ";
}

ol.comma-separated > li:last-child:after {
  content: "";
}
