<nav class="navbar navbar-light bg-primary sticky-top">
  <div class="container-fluid">
    <form class="d-flex input-group">
      <input [ngModel]="filter" [ngModelOptions]="{standalone: true}" (ngModelChange)="filterChanged($event)" type="text" placeholder="Search…" class="form-control" aria-label="Search">
    </form>
  </div>
</nav>

<div class="container">
  <h2>Instructions</h2>

  <p>
    These are the WebAssembly SIMD instructions; if you're working in a
    higher-level language like C or C++ you'll likely want to look at
    the <a routerLink="/intrinsics">intrinsics</a> or
    <a routerLink="/wav">WAV functions</a> instead.
  </p>
</div>

<div class="container">
  <div class="accordion accordian-flush">
    <div *ngFor="let instruction_name of instructionList" class="accordion-item">
      <div *ngFor="let instruction of [instructions.getInstruction(instruction_name)!]">
        <h2 class="accordion-header" [id]="instructions.instructionId(instruction)">
          <button class="accordion-button" [ngClass]="{ 'collapsed': !instructionDetailsVisible.get(instruction_name) }" (click)="toggleInstructionDetailsVisible(instruction_name)" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + instructions.instructionId(instruction)" [attr.aria-controls]="'#collapse-' + instructions.instructionId(instruction)">
            <div class="item-header">
              <code>
                <em class="item-name fw-bold">
                  {{ instruction.name }}
                  (<ol class="function-parameters comma-separated">
                    <li *ngFor="let param of instruction.params">
                      {{ param.name }}: {{ param.type }}
                    </li>
                  </ol>)
                  ->
                  {{ instruction.return }}
                </em>
              </code>
              <span class="item-title">{{ instruction.title }}</span>
            </div>
          </button>
        </h2>

        <div class="accordion-collapse" *ngIf="instructionDetailsVisible.get(instruction_name)" [attr.aria-labelledby]="instructions.instructionId(instruction)">
          <instruction class="accordion-body" [instruction]="instruction"></instruction>
        </div>
      </div>
    </div>
  </div>
</div>
