<div class="container">
  <h2>WAV Functions</h2>

  <p>
    <a href="https://github.com/nemequ/wav">WAV</a> is an alternative
    to the <a routerLink="/intrinsics">intrinsics</a> API for C/C++.
    It was designed to be safer and easier to use than the intrinsics
    API while providing the same performance.
  </p>

  <p>
    Note that not <em>all</em> WAV functions are currently listed here;
    overloaded aliases (for example, <code>wav_add</code> instead of
    <code>wav_i32x4_add</code>, <code>wav_i64x2_add</code>, <code>
    wav_f32x4_add</code>, etc.) are not shown, nor are the various
    conversion functions.  For more documentation of WAV, please see
    <a href="https://github.com/nemequ/wav">the project page</a>.
  </p>
</div>

<div class="container">
  <div class="accordion accordian-flush">
    <div *ngFor="let wav_name of wavList" class="accordion-item">
      <div *ngFor="let instruction of [instructions.getInstructionForWav(wav_name)!]">
        <div *ngFor="let wav of [instructions.getWav(wav_name)!]">
          <h2 class="accordion-header" [id]="instructions.wavId(wav)">
            <button
                class="accordion-button"
                [ngClass]="{ 'collapsed': !wavDetailsVisible.get(wav_name) }"
                (click)="toggleWavDetailsVisible(wav_name)"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-' + instructions.wavId(wav)"
                [attr.aria-controls]="'#collapse-' + instructions.wavId(wav)">
              <div class="item-header">
                <code>
                  <em class="item-name fw-bold">
                    {{ wav.return }}
                    {{ wav.name }}
                    (<ol class="function-parameters comma-separated">
                      <li *ngFor="let param of wav.params">
                        {{ param.type }} {{ param.name }}
                      </li>
                    </ol>);
                  </em>
                </code>
                <span class="item-title">{{ instruction.title }}</span>
              </div>
            </button>
          </h2>

          <div class="accordion-collapse" *ngIf="wavDetailsVisible.get(wav_name)" [attr.aria-labelledby]="instructions.wavId(wav)">
            <div class="accordion-body">
              <h3>Description</h3>

              <markdown [data]="instruction.description"></markdown>

              <p *ngIf="instruction.simde">
                View <a [href]="instruction.simde">implementation
                <i class="fas fa-external-link-alt"></i></a> of
                corresponding intrinsic in SIMDe.
              </p>

              <section>
                <h4>Instruction</h4>

                <p>
                  <code>
                    <em class="item-name fw-bold">
                      {{ instruction.name }}
                      (<ol class="function-parameters comma-separated">
                        <li *ngFor="let param of instruction.params">
                          {{ param.name }}: {{ param.type }}
                        </li>
                      </ol>)
                      ->
                      {{ instruction.return }}
                    </em>
                  </code>
                </p>
              </section>

              <section>
                <h4>Intrinsics</h4>

                <ul>
                  <li *ngFor="let intrinsic of instruction.intrin">
                    <code>
                      <em class="item-name fw-bold">
                        {{ intrinsic.return }}
                        {{ intrinsic.name }}
                        (<ol class="function-parameters comma-separated">
                          <li *ngFor="let param of intrinsic.params">
                            {{ param.type }} {{ param.name }}
                          </li>
                        </ol>);
                      </em>
                    </code>
                  </li>
                </ul>
              </section>

              <section *ngIf="instruction.wav!.length > 1">
                <h4>See Also</h4>

                <p *ngIf="instruction.wav!.length > 1">
                  These functions implement the same instruction.
                </p>

                <p>
                  This doesn't include the overloaded aliases yet (probably
                  <code>wav_{{ instruction.family_name }}()</code>).
                </p>

                <ul>
                  <ng-container *ngFor="let fn of instruction.wav">
                    <li *ngIf="fn.name != wav_name">
                      <code class="function-prototype">
                        <span class="function-return-type">{{ fn.return }}</span>&nbsp;
                        <em class="function-name fw-bold">{{ fn.name }}</em>
                        (<ol class="function-parameters comma-separated">
                          <li *ngFor="let param of fn.params" class="function-parameter">
                            <span class="function-parameter-type">{{ param.type }}</span>&nbsp;<span class="function-parameter-name">{{ param.name }}</span>
                          </li>
                        </ol>);
                      </code>
                    </li>
                  </ng-container>
                </ul>
              </section>

              <section *ngIf="instruction.lowering">
                <h3>Lowering</h3>

                <div class="alert alert-warning" role="alert">
                  <h5><i class="fas fa-exclamation-triangle"></i> Possibly inaccurate!</h5>
                  <hr />
                  <div>
                    The lowering information included may not be accurate yet; we're still
                    working on adding optimized versions, and until we do we are generating
                    this information from sub-optimal implementations.  The real numbers are
                    unlikely to be <em>higher</em>, but may very well be lower.  If you're interested
                    in helping, see <a href="https://github.com/simd-everywhere/simde/issues/776">
                    <i class="fab fa-github"></i> simde-everywhere/simde#776</a>.
                  </div>
                </div>

                <section *ngFor="let arch of instruction.lowering">
                  <h4>{{ arch.arch }}</h4>

                  <section *ngFor="let option of arch.options">
                    <h5>{{ option.option }}</h5>

                    <div *ngFor="let impl of option.implementations">
                      <h6 *ngIf="impl.immediates && (option.implementations.length > 1)">
                        Immediate value<span *ngIf="impl.immediates.length > 1">s</span>:
                        <ol class="comma-separated">
                          <li *ngFor="let imm of impl.immediates">{{ imm }}</li>
                        </ol>
                      </h6>

                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Instruction</th>
                            <th>Parameters</th>
                            <th>uOps</th>
                            <th>Latency</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr *ngFor="let inst of impl.instructions">
                            <td>{{ inst.name }}</td>
                            <td>
                              <ol class="comma-separated">
                                <li class="d-inline" *ngFor="let arg of inst.arguments">{{ arg }}</li>
                              </ol>
                            </td>
                            <td>{{ inst.uops }}</td>
                            <td>{{ inst.latency }}</td>
                          </tr>
                        </tbody>

                        <tfoot>
                          <tr>
                            <th colspan="2">Total</th>
                            <td>{{ instructions.sumOps(impl) }}</td>
                            <td>{{ instructions.sumLatency(impl) }}</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </section>
                </section>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
